<div class="row header">
    <div class="col-md-4 top-left">
        <div class="feature">
            <div class="row">
                <div class="col-3">
                    <div class="pfp"><img src="{{ page.logo_url }}" class="feature-img"></div>
                </div>
                <div class="col-9">
                    <div class="title">{{ page.entity }}</div>
                    <div class="subtitle">{{ page.subtitle }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 top-center">
    </div>
    <div class="col-md-4 top-right"><p>{{ page.quip }}</p></div>
</div>